<main class="mainHomePage">
    <section>
        <div class="logoHome">
            <a href=""><img class="imgNav" src="/images/logo.png" alt="img log">Finanças Fellas</a>
        </div>
        <nav class="navHome">
            <a href="">Receitas</a>
            <a href="">Perfil</a>
            <a href="">About</a>
        </nav>
        <section class="infoUser">
            <div class="user">
                <p>ola {{User.nome}}, seja bem-vindo!!!</p>
            </div>
            <div class="divSaldo">
                <p>Saldo: {{user.saldo}}</p>
            </div>
        </section>
    </section>
    <footer class="footer">
        <p>By Thurflecks</p>
    </footer>
</main>