<main class="mainHomePage">
    <section>
        <nav class="navHome">
            <a href="">Gastos</a>
            <a href="">Receitas</a>
            <a href="">Perfil</a>
            <a href="">About</a>
        </nav>
        <section class="list">
            <ul>
                <li>Gastos</li>
                <li>Receitas</li>
                <li>Saldo Total</li>
            </ul>
            <img src="/images/logo.png" alt="img log">
        </section>
    </section>
    <footer class="footer">
        <p>By Thurflecks</p>
    </footer>
</main>