<main>
    <section class="container">
        <form action="/" class="formLogin" method="post">
            <label for="nome">Name:</label>
            <input type="email" name="name" id="name" required>
            <label for="nome">Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Sing In</button>
        </form>
        <div class="singUp">
            <a href="">Sing Up</a>
        </div>
    </section>
</main>