<main class="main">
    <section class="sectionPrincipal">
        <div>
            <img src="/images/logo.png" class="logo" alt="logo">
            <h2 class="h2logo">Finanças Fellas</h2>
        </div>
        <section class="container">
            <form action="/signUp/NewAccount" class="formLogin" method="post">
                <label for="nome">Seu Nome Completo:</label>
                <input type="text" name="nome" id="nome" required>

                <label for="email">Seu Melhor E-mail:</label>
                <input type="email" name="email" id="email" required>

                <label for="endereco">Seu Endereço:</label>
                <input type="text" name="endereco" id="endereco" required>

                <label for="dataNasc">Data de Nascimento:</label>
                <input type="date" name="dataNasc" id="dataNasc" required>

                <label for="password">Nova Senha:</label>
                <input type="password" name="password" id="password" minlength="4" maxlength="8" required>

                <button type="submit">Criar Conta</button>
            </form>
            <div class="singUp">
                <a href="/singIn">Sing In</a>
            </div>
        </section>
    </section>
    <footer class="footer">
        <p>By Thurflecks</p>
    </footer>
</main>

<script>
    const data = new Date().toISOString().slice(0, 10);
    console.log(data)
    document.getElementById("dataNasc").setAttribute("max", data)
</script>