<main class="main">
    <section class="sectionPrincipal">
        <section class="container">
            <form action="" class="formLogin" method="post">
                <label for="text" id="entrar">Entrar:</label>
                <label for="nome">Nome:</label>
                <input type="email" name="name" id="name" required>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" minlength="8" maxlength="8" required>
                <button type="submit">Entrar</button>
            </form>
            <div class="singUp">
                <a href="/singUp">Sing Up</a>
            </div>
        </section>
    </section>
    <footer class="footer">
        <p>By Thurflecks</p>
    </footer>
</main>