<main class="main">
    <section class="sectionPrincipal">
        <section class="container">
            <form action="/singIn/logando" class="formLogin" method="post">
                <label for="text" id="entrar">Entrar:</label>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" minlength="4" maxlength="8" required>
                <button type="submit">Entrar</button>
            </form>
            <div class="singUp">
                <a href="/singUp">Sing Up</a>
            </div>
        </section>
        <div>
            <img src="/images/logo.png" class="logo" alt="logo">
            <h2 class="h2logo">Finanças Fellas</h2>
        </div>
    </section>
    <footer class="footer">
        <p>By Thurflecks</p>
    </footer>
</main>