* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #460715;
}

.main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    width: 100%;
}

.sectionPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 80px;
    position: relative;
    width: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #761328;
    flex-direction: column;
    border-radius: 9px;
}
.container1 {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #761328;
    flex-direction: column;
    border-radius: 9px;
}
.formLogin {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.formLogin label {
    font-size: 15px;
    color: rgb(250, 214, 214);
}
.formLogin input {
    padding: 8px;
    border-radius: 5px;
    width: 300px;
    border: none;
    outline: none;
    background-color: rgb(250, 214, 214);
}
.formLogin button {
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px ;
    cursor: pointer;
    background-color: transparent;
    color: rgb(250, 214, 214);
    border: 1px solid rgb(250, 214, 214);
    transition: 0.3s ease;
}
.formLogin button:hover{
    background-color: rgb(250, 214, 214);
    color: #e6101b;
}
.singUp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    gap: 20px;
}
.singUp button {
    text-align: center;
    font-size: 14px;
    height: 31px;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: rgb(250, 214, 214);
    border: 1px solid rgb(250, 214, 214);
    color: #e6101b;
    transition: 0.3s ease;
}
.singIn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    gap: 20px;
}
.singIn button:hover{
    background-color: #761328;
    color: rgb(250, 214, 214);
}
.singIn button {
    text-align: center;
    font-size: 14px;
    height: 31px;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(250, 214, 214);
    border: 1px solid rgb(250, 214, 214);
    color: #e6101b;
    transition: 0.3s ease;
}
.singUp button:hover{
    background-color: #761328;
    color: rgb(250, 214, 214);
}
.navLogin{
    display: flex;
    justify-content: end;
}
.tituloLogin{
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    text-align: center;
    gap: 12px;
}
.tituloLogin p{
    font-size: 20px;
}
.tituloLogin h1{
    color: rgb(250, 214, 214);
    font-size: 35px;
}
.footer{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: end;
}
.footer p{
    font-weight: 900;
    color: rgb(250, 214, 214);
}
#entrar{
    font-size: 20px;
    font-weight:700;
}
.logo{
    width: 300px;
    height: 300px;
}
.mainHomePage{
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #460715;
}
.navHome {
    display: flex;
    justify-content: space-around;

}
.navHome a{
    text-decoration: none;
    padding: 20px;
    color: rgb(250, 214, 214);
}

#containerIn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
#containerUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
#containerIn.hide {
    opacity: 0;
    visibility: hidden;
}
#containerUp.show {
    opacity: 1;
    visibility: visible;
}
.imgNav {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.user {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

.user p{
    color: rgb(250, 214, 214);
    font-size: 30px;
    font-weight: bold;
}
.logoHome {
    margin-left: 10px;
    margin-top: 10px;
}

.logoHome a {
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-decoration: none;
    color: rgb(250, 214, 214);
}